@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url(auth.css);
@import url(feed.css);
@import url(profile.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #A6033F;
  background-color: #012340;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
  margin: 1em;
  width: 120px;
  height: 50px;
  border-radius: 100px;
  cursor: pointer;
}

.btn-gray {
  background-color: #09A603;
  color: #FCFCFC;
  border: 2px solid #09A603;
  transition: all .15s linear;
}

.btn-gray:hover {
  background-color: transparent;
  color: #09A603;
  border: 2px solid #09A603;
  transition: all .15s linear;
}